* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1180px;
  height: 500px;
  /* background-color: grey; */
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  width: 90%;
}
.quiz {
  height: 100%;
  width: 100%;
}
.start-page {
  display: flex;
  height: 100%;
  width: 100%;
}
.img-wrapper {
  width: 60%;
  overflow: hidden;
}
.start-page-img {
}
.start-page .start-page-sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
}
.quiz-top {
  height: 100%;
}
.line {
  width: 38px;
  height: 3px;
  background-color: black;
  margin-bottom: 1em;
}
.title {
  margin-bottom: 1em;
  font-size: 1.8em;
  line-height: 120%;
}
.subtitle {
  line-height: 120%;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: normal;
}
.start-button {
  color: white;
  padding: 0.9em 1em;
  background-color: #a4cc00;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.2s;
}
.start-button:hover {
  background-color: #799700;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.button-svg {
  width: 24px;
  height: 24px;
}
.quiz-title-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 16px;
}
.title-icon {
  margin-right: 5px;
}
.quiz-title {
  font-size: 16px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1.2;
  color: #69748c;
  font-weight: 500;
}
.quiz-inner {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-icon {
  width: 24px;
  height: 24px;
}
.question {
  color: #363636;
  font-size: 28px;
  text-align: left;
  margin: 12px 0 16px 0;
  line-height: 1.2;
  font-weight: 500;
}
.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.selected.answer-radio {
  border: 1px solid #a4cc00;
}
.answer-radio {
  width: 49%;
  padding: 0.8em 1em;
  border: 1px solid #f3f3f3;
  margin-bottom: 1em;
  cursor: pointer;
  border-radius: 5px;
  color: #4a4a4a;
  transition: 0.2s;
}
.answer-radio:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.answer-text {
  margin-left: 34px;
  position: relative;
}
.selected .answer-text::before {
  transform: scale(1.1);
  background: #a4cc00;
}
.answer-text::before {
  content: "";
  width: 20px;
  height: 20px;
  top: -2px;
  left: -33px;
  background: #bcbcbc;
  position: absolute;
  border-radius: 50%;
  transition: 0.2s;
}
.img-radio-options-container {
  /* height: 100%; */
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.img-radio-options-container img {
  height: 250px;
  margin-bottom: 0.2em;
}
.answer-img-radio {
  margin: 0 2em 0.5em 0;
}
.range-input {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  text-align: center;
  font-size: 1em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  outline: none;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.runner {
  position: absolute;
  height: 20px;
  width: 20px;
  right: -5px;
  background-color: #a4cc00;
  margin: 0;
	top: -6px;
	border-radius: 10px;
	cursor: pointer;
}
.progressbar {
	margin-top: 1em;
  background-color: #d1e2b1;
  height: 7px;
  width: 100%;
  border-radius: 4px;
}
.progress-indikator {
  border-radius: 4px;
  position: relative;
  transition: 0.1s;
  background-color: #a4cc00;
  height: 7px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.progressbar-wrapper {
  width: 70%;
}
.progressbar__field {
  background-color: grey;
  width: 100%;
  height: 5px;
}
.progressbar__ready {
  display: block;
  height: 5px;
  width: 50%;
  background-color: white;
}
.selected {
}
